
<!-- Radio Button to select required -->
		<div class="w3-content w3-text-white" style="max-width: 1100px">
			<div class="w3-row w3-padding-32" ng-init="content='All'">
				<div class="w3-col l3 s6 w3-border w3-padding-small">
					<p class="other">
						<input type="radio" ng-model="content" value="All"> <b>All</b>  
					</p>
				</div>
				<div class="w3-col l3 s6 w3-border w3-padding-small">
					<p class="other">
						<input type="radio" ng-model="content" value="Books"> <b>Books</b> 
					</p>		
				</div>

				<div class="w3-col l3 s6 w3-border w3-padding-small">
					<p class="other">
						<input type="radio" ng-model="content" value="Characters"> <b>Characters</b>
					</p>		
				</div>

				<div class="w3-col l3 s6 w3-border w3-padding-small">
					<p class="other">
						<input type="radio" ng-model="content" value="Houses"> <b>Houses</b> 
					</p>		
				</div>
			</div>
		</div>




<div class="w3-content w3-text-white" ng-init="firstCtrl.loadData()" style="max-width:1100px">

	<!-- selecting the Alpha and Reverse Alpha order for large n medium -->
	<div class="w3-panel w3-hide-small">
		<div class="w3-row">
			<div class="w3-col m6">
				<button ng-click="firstCtrl.order(0)" class="w3-button w3-white w3-left other">Sort In Alphabetical Order</button>
			</div>
			<div class="w3-col m6">
				<button ng-click="firstCtrl.order(1)" class="w3-button w3-white  w3-right other">Sort Reverse Alphabetically</button>		
			</div>	
		</div>
			
	</div>

	<!-- selecting alpha and reverse alpha order for small devices -->
	<div class="w3-panel w3-hide-large w3-hide-medium">
		<div class="w3-row-padding w3-center">
			<div class="w3-col s12 w3-padding-16">
				<button ng-click="firstCtrl.order(0)" class="w3-button w3-white cardFont">Sort In Alphabetical Order</button>
			</div>
			<div class="w3-col s12 w3-padding-16">
				<button ng-click="firstCtrl.order(1)" class="w3-button w3-white cardFont">Sort Reverse Alphabetically</button>		
			</div>	
		</div>
			
	</div>

	<!-- Directives -->
	<div class="w3-row-padding">
		
		<!-- Directive of the Books -->
		<div class="w3-col m4 s12 w3-left w3-padding-24" ng-show="content == 'Books' || content == 'All'">
			<!-- Filter of Books -->
			
			<select class="w3-center w3-margin-bottom cardFont" ng-options="data.name for data in firstCtrl.data | filter:firstCtrl.filterBooks()" ng-model="selectedBook" style="width:100%;">
				<option value="" selected>--All Books--</option>
			</select>
			<h1 class="w3-center font">Books</h1>
			<div ng-repeat="data in firstCtrl.data | filter: {name: selectedBook.name}: true">	
				<got-books> </got-books>		
			</div>

		</div>

		<!-- Directive of the Characters -->
		<div class="w3-col m4 s12 w3-left w3-padding-24" ng-show="content == 'Characters' || content == 'All'">

			<!-- Filter of Characters -->
			
			<select class="w3-center w3-margin-bottom cardFont" ng-options="data.name for data in firstCtrl.data | filter:firstCtrl.filterCharacters()" ng-model="selectedCharacter" style="width:100%;">
				<option value="" selected>--All Characters--</option>	
					
			</select>
			
			<h1 class="w3-center font">Characters</h1>
			<div ng-repeat="data in firstCtrl.data| filter: {name: selectedCharacter.name}: true">
				<got-characters></got-characters>
			</div>
		</div>

		<!-- Directive of the Houses -->
		<div class="w3-col m4 s12 w3-padding-24" ng-show="content == 'Houses' || content == 'All'">

			<select class="w3-center w3-margin-bottom cardFont" ng-options="data.name for data in firstCtrl.data | filter:firstCtrl.filterHouses()" ng-model="selectedHouse"
				style="width:100%;">
				<option value="" selected>--All Houses--</option>	
			</select>
			
			<h1 class="w3-center font">Houses</h1>
			<div ng-repeat="data in firstCtrl.data | filter: {name: selectedHouse.name}: true">
				<got-houses></got-houses>
			</div>
		</div>
	</div>
</div>